body{
   text-align: center;
   font-family: 微軟正黑體;
   background-image: url(bgcat.jpg);
   background-attachment: scroll;
}
table{
    width: 60%;
    margin: auto;
    font-size: 1.5em;
}
tr:nth-child(even){
    background-color: grey;
    color: whitesmoke;
}
tr:hover{
    background-color: yellow;
    color: black;
}
